@model EF_CodeFirst.Models.Entities.Book
@{
    ViewData["Title"] = "Edit";
}

<h1 class="bg-dark text-light">Kitap Türü Düzenle</h1>

<div class="row bg-dark text-light">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label class="control-label">Kitap Id</label><br>
                <label class="control-label" asp-for="BookId">@Model.BookId</label><br>
                <input type="hidden" asp-for="BookId">
                <label class="control-label">Kitap Adı</label>
                <input class="form-control" type="text" asp-for="BookName">
                <label class="control-label">Kitap Yayınlanma Yılı</label>
                <input class="form-control" type="text" asp-for="BookYearOfPublication">
                <label class="control-label">Kitap Baskı Sayısı</label>
                <input class="form-control" type="text" asp-for="BookEditionNumber">
                <label class="control-label">Kitap Sayfa Sayısı</label>
                <input class="form-control" type="text" asp-for="BookNumberOfPages">
                <label class="control-label">Kitap Kategori</label>
                <select class="form-control" type="text" asp-for="CategoryId" asp-items="@ViewBag.Category"></select>
                <label class="control-label">Kitap Yazarı</label>
                <select class="form-control" type="text" asp-for="AuthorId" asp-items="@ViewBag.Author"></select>
                <label class="control-label">Kitap Yayınevi</label>
                <select class="form-control" type="text" asp-for="PublisherId" asp-items="@ViewBag.Publisher"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<a asp-action="Index">Kitaplar Sayfasına Dön</a>