@model EF_CodeFirst.Models.Entities.Publisher
@{
    ViewData["Title"] = "Create";
}

<h1 class="bg-dark text-light">Yeni Yayınevi</h1>

<div class="row bg-dark text-light">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Yayınevi Ad</label>
                <input type="text" asp-for="PublisherName" class="form-control">
                <label class="control-label">Yayınevi Şehri</label>
                <input type="text" asp-for="PublisherCity" class="form-control">
                <label class="control-label">Yayınevi Mail</label>
                <input type="text" asp-for="PublisherMail" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success">
            </div>
        </form>
    </div>
</div>

<a asp-action="Index">Yayınevi Sayfasına Dön</a>